.loaderBG {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 16px solid rgb(194, 194, 194); /* Light grey */
  border-top: 16px solid #029aff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderStart {
  width: 100%;

  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: start;
  justify-content: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
