.important {
  margin-left: 7px;
  color: red;
}
.row {
  display: flex;
  align-items: end;
  width: 500px;
  justify-content: space-between;
}

@media (max-width: 492px) {
  .row {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }
}
