.err {
  font-size: smaller;
  color: red;
  display: block;
  position: static;
  text-wrap: nowrap;
  margin-bottom: 5px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
